<div class="row">
  <div class="user-info col m3">
    <%= render partial: 'sidebar', locals: {repos: @repos} %>
  </div>
  <div class="col m9 repos">
    <%= render partial: 'repos', locals: {repos: @repos} %>
    <%= render partial: 'contributions', locals: {stats: @stats} %>
    <%= render partial: 'recent_commits', locals: {events: @events} %>
    <%= render partial: 'recent_prs', locals: {events: @events} %>
  </div>
</div>
